.tilt-card {
  /* Define a perspectiva de profundidade 3D no container */
  transform-style: preserve-3d;
  perspective: 1000px;
  
  /* Valores iniciais das variáveis */
  --rX: 0deg;
  --rY: 0deg;
  
  /* Aplica a rotação calculada no JS */
  transform: rotateX(var(--rX)) rotateY(var(--rY));
  
  /* Transição suave ao entrar/sair com o mouse */
  transition: transform 0.15s ease-out, box-shadow 0.15s ease-out;
}

.tilt-card:hover {
  box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.15);
    background-color: black;
    color: white;
}

.content-layer {
  transform: translateZ(40px);
}


.camera-corners {
  position: relative;
}

.camera-corners::before,
.camera-corners::after {
  content: "";
  position: absolute;
  pointer-events: none;
  z-index: 10;
  border-color: rgba(255, 255, 255, 0.4); /* Cor das linhas */
  border-style: solid;
  opacity: 0;
  transition: all 0.3s ease;
}

/* Linhas Verticais que passam dos limites superiores/inferiores */
.camera-corners::before {
  inset: -8px 12px;
  border-width: 0 1px; /* Linha esquerda e direita */
}

/* Linhas Horizontais que passam dos limites laterais */
.camera-corners::after {
  inset: 12px -8px;
  border-width: 1px 0; /* Linha superior e inferior */
}

/* Ativa e aproxima as linhas criando o efeito de "foco prendendo" o card */
.camera-corners:hover::before {
  opacity: 1;
  inset: 0px 12px;
}
.camera-corners:hover::after {
  opacity: 1;
  inset: 12px 0px;
}
