#content-main {
    font-family: var(--font-fira-code);
}

#content-main section {
    margin-top: 5px;
}

#content-main section div{
    padding: 5px;
}

#content-main h1 {
    color: var(--color-details-1);
    font-size: 32px;
}

#content-main p {
    color: var(--color-details-2);
}

#navigation-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

#navigation-main button {
    padding: 5px;
    background-color: var(--button-color-1);
}

#navigation-main button:hover {
    background-color: var(--button-color-2);
}

#introduction {
    background-color: var(--color-primary);
}

#technology {
    background-color: var(--color-secondary);
}

#technology .technology-item-rating {
    display: flex;
    flex-direction: row;
}

#technology-details {
    display: flex;
    flex-direction: row;
}

#projects {
    display: flex;
    flex-direction: row;
    background-color: var(--color-primary);
}

#projects #projects-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    width: 100%;

    padding: 10px;
}

#projects .card-project {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 1px solid red;
    padding: 10px;
}

#contacts {
    background-color: var(--color-secondary);
}

@media(max-width: 768px) {
    #navigation-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
}

